
<%- include("partials/header"); -%>

<h1>your journal has been composed successfully</h1>
<h2>you can check in the <a href="/">home</a> </h2>
<h1>if you want to publish another <a href="/compose">click</a> here</h1>

<%- include("partials/footer"); -%>
